# Google App Engine generated folder
appengine-generated/

node_modules/*

# Our JavaScript code is written in ECMAScript 6 (ES6) syntax, however many of the existing Web browsers today still have limited support for ES6.
src/main/webapp/js/*

src/main/webapp/dev/*